---
layout: archive
title: "Talks"
permalink: /en/talks/
author_profile: true
lang: en
locale: en-US
translation_url: /talks/
---

<div class="notice">This section still contains the original template examples; they are not my personal projects, publications, or CV.</div>


{% if site.talkmap_link == true %}

<p style="text-decoration:underline;"><a href="/talkmap.html">See a map of all the places I've given a talk!</a></p>

{% endif %}

{% for post in site.talks reversed %}
  {% include archive-single-talk.html %}
{% endfor %}
